html
  head
    title Aditya Dance Academy
    block scripts
    block styles
  body
    nav#navbar
            ul
                div#logo
                   img(src="/static/img/img4.png", alt="No logo!!")
                   | ADA
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us] 
       
    block content
    footer#footer
        |   Copyright &copy;2021 AdityaDanceAcademy.com| All rights reserved
    